<!DOCTYPE html>

{% load staticfiles %}

<html>
	
	<?php //carga de la cabecera de las templates ?>

	<head lang="es">

			<!-- Declaramos a Django donde esta la hoja de estilo -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}">
		{% block extra_css %}
		{% endblock extra_css %}

		{% block title_block %}
			<title>Base</title>
		{% endblock %}

		<meta charset="UTF-8">
		<title>TITULO DE LA BASE</title>
	</head>

	<body>

		<p>hola</p>

	</body>
</html>